body{
    background: #80b0b0;
}

#menu{
    float: right;
}

#conteudo_total{
    /* background: rgb(193, 199, 190); */
    width: 70%;
    margin: 0 auto;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

h1{
    margin-left: 350px;
}

a:link, a:visited{
	color: #FF6600;
	text-decoration: none;
}

nav ul li{
  	list-style: none;
  	display: inline-block; /* remove o underline do link */
	margin-right: 10px; /* coloca espaço entre os links */
}


.albuns{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}

#paragrafo_exemplo, #album1, #outros_albuns{
    padding: 20px;
    border-radius: 40px;
    text-align: justify;
    background-color: rgb(96, 230, 214);
}

.link_albuns{
    margin-top: 0px;
    margin-left: 50px;
}

#album1{
    background-color: rgb(58, 214, 196);
    margin-bottom: 20px;
    
}

#imgdestaque{
	max-width: 85%;
	width: auto;
	height: auto;
    object-fit: cover;
    padding-left: 60px;
    padding-top: 20px;
}

#texto_img_principal{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 0px;
}
#outros_albuns{
    background-color: rgb(7, 216, 192);
}