body{
    background: #80b0b0;
}

#menu{
    float: right;
}

#conteudo_total{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

h1{
    margin-left: 350px;
}

 #destaque_principal{
   background-color: rgb(145, 241, 229)
}

#destaque_principal, #colecoes1, #colecoes2{
    border-radius: 40px;
    width: 90%;
    margin-left: 50px;
    padding: 20px;
    text-align: center;
}

#colecoes1{
    margin-top: 20px;
    margin-bottom: 20px;
}

#colecoes1{
    background: rgb(115, 184, 175);
}

#colecoes2{
    background: rgb(97, 138, 139);
}

a:link, a:visited{
	color: #FF6600;
	text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
nav ul li{
  	list-style: none;
  	display: inline-block; /* remove o underline do link */
	margin-right: 10px; /* coloca espaço entre os links */
}

#imgdestaque{
	max-width: 85%;
	width: auto;
	height: auto;
    object-fit: cover;
}

a.links_albuns{
	color: #ff009d;
}

.img, .imgpag{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.miniaturas, .miniatura-centro{
    display: inline-block;
    text-align: center;
}

.miniatura-centro{
    margin-left: 30px;
    margin-right: 30px;
}

#texto_img_principal{
    text-align: center;
    font-size: 50px;
}

.h3-maior{
    font-size: 15px;
}

.paragrafo{
    text-align: justify;
}

.imgpag{
    margin-right: 30px;
}

#outros_albuns{
    text-align: center;
}